// 大圖
.bigpicture {
    position: relative;
    width: 100%;
    height: auto;

    img {

        width: 100%;
        height: auto;

        &:nth-child(1) {
            display: block;
        }

        &:nth-child(2) {
            display: none;
        }
    }


    .title {
        position: absolute;
        top: 30%;
        right: 15%;

        div {
            &:nth-child(1) {
                font-size: 13rem;
                color: #425154;
                letter-spacing: 1rem;
            }

            &:nth-child(2) {
                text-align: center;
                border-top: 1px solid #425154;
                font-size: 5rem;
                margin-left: 40%;
                color: #425154;

            }
        }
    }

    @media screen and (max-width:1400px) {
        & {

            .title {
                div {
                    &:nth-child(1) {
                        font-size: 11rem;
                    }

                    &:nth-child(2) {
                        font-size: 4rem;
                    }

                }
            }
        }
    }

    @media screen and (max-width:1200px) {
        & {

            .title {
                div {
                    &:nth-child(1) {
                        font-size: 9rem;
                    }

                    &:nth-child(2) {
                        font-size: 3rem;
                    }

                }
            }
        }
    }

    @media screen and (max-width:990px) {
        & {

            .title {
                top: 34%;

                div {
                    &:nth-child(1) {
                        font-size: 7rem;
                        letter-spacing: .4rem;
                    }

                    &:nth-child(2) {
                        font-size: 2rem;
                    }

                }
            }
        }
    }

    @media screen and (max-width:840px) {
        & {

            .title {
                top: 34%;

                div {
                    &:nth-child(1) {
                        font-size: 6rem;
                    }

                    &:nth-child(2) {
                        font-size: 1.5rem;
                    }

                }
            }
        }
    }

    @media screen and (max-width:760px) {
        & {
            img {
                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    display: block;
                }
            }

            .title {
                top: 38%;

                div {
                    &:nth-child(1) {
                        font-size: 8rem;
                    }

                    &:nth-child(2) {
                        font-size: 3rem;
                    }

                }
            }
        }
    }

    @media screen and (max-width:600px) {
        & {
            img {
                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    display: block;
                }
            }

            .title {
                top: 38%;

                div {
                    &:nth-child(1) {
                        font-size: 6rem;
                    }

                    &:nth-child(2) {
                        font-size: 2.5rem;
                    }

                }
            }
        }
    }

    @media screen and (max-width:460px) {
        & {
            img {
                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    display: block;
                }
            }

            .title {
                top: 43%;

                div {
                    &:nth-child(1) {
                        font-size: 4rem;
                    }

                    &:nth-child(2) {
                        font-size: 1.8rem;
                    }

                }
            }
        }
    }


}



// 聯係我們
.contact {
    .container {
        .title {
            width: 100%;
            text-align: center;

            h3 {
                margin-top: 6rem;
                font-size: 2.2rem;
                color: #425154;
            }

            div {
                position: relative;
                margin-top: 2.5rem;
                font-size: 3rem;
                color: #425154;

                &::before {
                    position: absolute;
                    top: 53%;
                    left: 30%;
                    content: "";
                    width: 10%;
                    height: 1px;
                    background-color: #425154;
                }

                &::after {
                    position: absolute;
                    top: 53%;
                    right: 30%;
                    content: "";
                    width: 10%;
                    height: 1px;
                    background-color: #425154;
                }
            }
        }

        .detail {
            width: 100%;
            padding-top: 10rem;
            padding-bottom: 14.7rem;
            display: flex;
            justify-content: space-between;

            .map {
                width: 55%;
                height: 44.3rem;
            }

            .right {
                width: 40%;

                .name {
                    width: 100%;
                    font-size: 1.8rem;
                    color: #556264;
                }

                .content {
                    width: 100%;

                    .list {
                        display: flex;
                        height: 4.7rem;

                        &:nth-child(1) {
                            margin-top: 5.3rem;
                        }

                        &:nth-child(4) {
                            height: 5.8rem;
                        }

                        .back {
                            margin-right: 1rem;
                            margin-top: 0.3rem;

                        }

                        .text {
                            width: 100%;
                            font-size: 1.8rem;
                            color: #556264;
                        }
                    }
                }

                .code {
                    width: 100%;
                    display: flex;

                    .list {
                        .back {
                            width: 11.8rem;
                            height: 11.5rem;
                        }

                        .text {
                            padding-top: 2rem;
                            text-align: center;
                            font-size: 1.4rem;
                            color: #657072;
                        }
                    }

                }

            }

        }
    }

    @media screen and (max-width:1000px) {
        & {
            .container {
                .detail {
                    flex-wrap: wrap;

                    .map {
                        width: 100%;

                    }

                    .right {
                        padding-top: 3rem;
                        width: 100%;

                        .name {
                            text-align: center;
                        }

                        .content {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .list {
                                justify-content: center;

                            }
                        }

                        .code {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

}