// 大圖
.bigpicture {
    position: relative;
    width: 100%;
    height: auto;

    img {

        width: 100%;
        height: auto;

        &:nth-child(1) {
            display: block;
        }

        &:nth-child(2) {
            display: none;
        }
    }


    .title {
        position: absolute;
        top: 30%;
        right: 15%;

        div {
            &:nth-child(1) {
                font-size: 13rem;
                color: #425154;
                letter-spacing: 1rem;
            }

            &:nth-child(2) {
                margin-left: 50%;
                text-align: center;
                border-top: 1px solid #425154;
                font-size: 5rem;
                color: #425154;

            }
        }
    }
    @media screen and (max-width:1400px) {
        & {
            
            .title {
                div {
                    &:nth-child(1) {
                        font-size: 11rem;
                    }

                    &:nth-child(2) {
                        font-size: 4rem;
                    }

                }
            }
        }
    }
    @media screen and (max-width:1200px) {
        & {
            
            .title {
                div {
                    &:nth-child(1) {
                        font-size: 9rem;
                    }

                    &:nth-child(2) {
                        font-size: 3rem;
                    }

                }
            }
        }
    }  
    @media screen and (max-width:990px) {
        & {
            
            .title {
                top: 34%;
                div {
                    &:nth-child(1) {
                        font-size: 7rem;
                        letter-spacing: .4rem;
                    }

                    &:nth-child(2) {
                        font-size: 2rem;
                    }

                }
            }
        }
    }
    @media screen and (max-width:840px) {
        & {
            
            .title {
                top: 34%;
                div {
                    &:nth-child(1) {
                        font-size: 6rem;
                    }

                    &:nth-child(2) {
                        font-size: 1.5rem;
                    }

                }
            }
        }
    }
    @media screen and (max-width:760px) {
        & {
            img{
                &:nth-child(1)
                {
                    display: none;
                }
                &:nth-child(2)
                {
                    display: block;
                }
            }
            .title {
                top: 38%;
                div {
                    &:nth-child(1) {
                        font-size: 8rem;
                    }

                    &:nth-child(2) {
                        font-size: 3rem;
                    }

                }
            }
        }
    }
    @media screen and (max-width:600px) {
        & {
            img{
                &:nth-child(1)
                {
                    display: none;
                }
                &:nth-child(2)
                {
                    display: block;
                }
            }
            .title {
                top: 38%;
                div {
                    &:nth-child(1) {
                        font-size: 6rem;
                    }

                    &:nth-child(2) {
                        font-size: 2.5rem;
                    }

                }
            }
        }
    }
    @media screen and (max-width:460px) {
        & {
            img{
                &:nth-child(1)
                {
                    display: none;
                }
                &:nth-child(2)
                {
                    display: block;
                }
            }
            .title {
                top: 43%;
                div {
                    &:nth-child(1) {
                        font-size: 4rem;
                    }

                    &:nth-child(2) {
                        font-size: 1.8rem;
                    }

                }
            }
        }
    }

    
}


// 下面導航
.navlist {
    width: 100%;
    padding-top: 7.7rem;

    .container {
        display: flex;
        justify-content: center;

        div {
            width: 12rem;
            height: 4rem;
            margin-right: 3.3rem;
            border-radius: .6rem;
            color: #65797d;
            font-size: 2rem;
            text-align: center;
            line-height: 4rem;
            background-color: #f4f4f4;
            cursor: pointer;

            &:hover {
                background-color: #65797d;
                color: #ffffff;
            }
        }
    }

    @media screen and (max-width:768px) {
        & {
            .container {
                flex-wrap: wrap;

                div {
                    width: 25%;
                }
            }
        }
    }
}





// 產品列表
.product {
    width: 100%;
    padding-top: 9rem;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .list {
            width: 33%;
            height: 39rem;
            cursor: pointer;
            position: relative;


            .back {
                height: 39rem;

                &:hover {
                    background-color: #f4f4f4;
                }
            }

            .text {
                width: 100%;
                position: absolute;
                bottom: 2.8rem;
                text-align: center;
                font-size: 2rem;
                color: #65797d;
            }
        }
        .page{
            width: 100%;
            .pagination {
                width: 100%;
                margin: 13.5rem 0 10.5rem 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
    
                li {
                    a {
                        font-size: 2rem;
                        border: none;
                        border: 1px solid #869ca0;
                        margin-right: .7rem;
    
                        &:hover {
                            background-color: #65797d;
                            color: #dfe2e3;
                        }
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:800px) {
        &{

            .container{
                .list{
                    width: 48%;
                }
            }
        }
    }
    @media screen and (max-width:500px) {
        &{

            .container{
                .list{
                    width: 100%;
                }
                .page{

                }
            }
        }
    }
}